[submodule "todo-task-frontend"]
	path = frontend
	url = http://github.com/st-a-novoseltcev/todo-task-frontend
[submodule "backend"]
	path = redis-deploy-server
	url = http://github.com/st-a-novoseltcev/redis-deploy-server
[submodule "postgreSQL"]
	path = postgreSQL-deploy-server
	url = http://github.com/st-a-novoseltcev/postgreSQL-deploy-server
