<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/main.css">
    <script type="module" src="static/js/frontend.js"></script>
    <style>
        [v-cloak] > * { display:none; }
        [v-cloak]::before { content: "loading..."; }
    </style>
      <title>
          TODO Task Manager
      </title>
  </head>

  <body style="background: #b7b7b72e">
    <div class="Application" id="app" v-cloak>
      <ul class="vertical">
          <li><a href="/login">Sign In</a></li>
          <li><a href="/register">Sign Up</a></li>
          <li><a href="">Categories:</a></li>
          <ul v-if="categories.length">
            <ul v-for="category in categories">
                <li>
                    <form @submit.prevent="openCategory(category.id)">
                        <button type="submit">{{category.name}}</button>
                    </form>
                </li>
            </ul>
          </ul>
      </ul>

        <div class="task_frame">
          <div class="container margin-top" v-for="table_el in table">
            <div class="row">
                <p colspan="3">{{table_el.name}}</p>
                <div v-for="category in categories">
                    <div v-if="category.id == current_category">
                        <div v-for="task in category.tasks">
                            <div v-if="task.status === table_el.status">
                                <span style = "padding-left: 30px; display: inline-block;">{{ task.title }}</span>
                                <div style="width: 20px;height: 20px; display: inline-block;" >
                                    <form style="width: 20px;height: 20px;" @click="editStatusTask(task)">
                                        <input style="width: 20px;height: 20px;" class="t_button" type="checkbox" v-if="!table_el.status">
                                        <input style="width: 20px;height: 20px;" class="t_button" type="checkbox" checked v-if="table_el.status">
                                    </form>
                                </div>
                                <div style="width: 60px;height: 20px; display: inline-block;" >
                                    <form @click="deleteTask(task.id)">
                                        <input class="t_button" type="button" value="Delete">
                                    </form>
                                </div>
                                <div style="width: 50px; display: inline-block;" v-for="file in task.files">
                                    <form action="/file/download" method="POST" enctype="multipart/form-data" @submit="downloadFile(file.id)">
                                        <button type="submit">{{file.name}}</button>
                                    </form>
                                    <form @submit.prevent="deleteFile(file.id)">
                                        <button class="btn btn-danger" type="submit">Удалить</button>
                                    </form>
                                </div>
                                <form action="/file/" method="POST" enctype="multipart/form-data">
                                    <input type="file" name="file">
                                    <button type="submit">Прикрепить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <form class="form-task" @submit.prevent="createTask">
              <input required class="text_input" type="text" v-model="form_task.title">
              <button class="btn btn-primary" type="submit">Создать</button>
          </form>
      </div>
    </div>
  </body>
</html>
